From the international breweries data recorded for a duration of three years, you are
directed to do the following analyses to aid better decision making in order to maximize
profit and reduce loss to the lowest minimum.
Session A

PROFIT ANALYSIS

1. Within the space of the last three years, what was the profit worth of the breweries,
inclusive of the anglophone and the francophone territories?
2. Compare the total profit between these two territories in order for the territory manager,
Mr. Stone made a strategic decision that will aid profit maximization in 2020.
3. Country that generated the highest profit in 2019
4. Help him find the year with the highest profit.
5. Which month in the three years was the least profit generated?
6. What was the minimum profit in the month of December 2018?
7. Compare the profit in percentage for each of the month in 2019
8. Which particular brand generated the highest profit in Senegal?

In [1]:
#importing libraries for the analysis
import pandas as pd
import numpy as np

In [2]:
#reading the data from a csv file
df = pd.read_csv("C:\Mike_stuff\International_brewery\International_Breweries.csv")

In [3]:
#display the data frame
df

,SALES_ID,SALES_REP,EMAILS,BRANDS,PLANT_COST,UNIT_PRICE,QUANTITY,COST,PROFIT,COUNTRIES,REGION,MONTHS,YEARS
0,10101,Jardine,jard@gmail.com,trophy,150,200,725,145000,36250,Ghana,Southeast,January,2019
1,10102,Gill,gillhell@uk.com,budweiser,250,500,815,407500,203750,Nigeria,west,February,2018
2,10103,Sorvino,sorvi2000@gmail.com,castle lite,180,450,937,421650,252990,Togo,southsouth,March,2018
3,10104,Jones,jone.ai@yahoo.com,eagle lager,170,250,765,191250,61200,Benin,northwest,April,2018
4,10105,Andrews,andy@gmail.com,hero,150,200,836,167200,41800,Senegal,northeast,May,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1042,11143,Jardine,jard@gmail.com,grand malt,90,150,962,144300,57720,Togo,northeast,November,2017
1043,11144,Jardine,jard@gmail.com,trophy,150,200,892,178400,44600,Benin,northcentral,December,2017
1044,11145,Andrews,andy@gmail.com,budweiser,250,500,816,408000,204000,Senegal,Southeast,January,2019
1045,11146,Jones,jone.ai@yahoo.com,castle lite,180,450,939,422550,253530,Ghana,west,February,2017
1046,11147,Morgan,morganny@gmail.com,eagle lager,170,250,935,233750,74800,Nigeria,southsouth,March,2019

In [4]:
#display information about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1047 entries, 0 to 1046
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SALES_ID    1047 non-null   int64
 1   SALES_REP   1047 non-null   object
 2   EMAILS      1047 non-null   object
 3   BRANDS      1047 non-null   object
 4   PLANT_COST  1047 non-null   int64
 5   UNIT_PRICE  1047 non-null   int64
 6   QUANTITY    1047 non-null   int64
 7   COST        1047 non-null   int64
 8   PROFIT      1047 non-null   int64
 9   COUNTRIES   1047 non-null   object
 10  REGION      1047 non-null   object
 11  MONTHS      1047 non-null   object
 12  YEARS       1047 non-null   int64
dtypes: int64(7), object(6)
memory usage: 106.5+ KB

In [5]:
#get some of the measures of central tendencies and dispersions
df.describe()

,SALES_ID,PLANT_COST,UNIT_PRICE,QUANTITY,COST,PROFIT,YEARS
count,1047.000000,1047.000000,1047.000000,1047.000000,1047.000000,1047.000000,1047.000000
mean,10624.000000,152.989494,271.728749,850.737345,231034.049666,100847.583572,2017.941738
std,302.387169,53.125477,133.378553,86.991652,115658.626612,77581.775930,0.808325
min,10101.000000,80.000000,150.000000,700.000000,105300.000000,35000.000000,2017.000000
25%,10362.500000,90.000000,150.000000,776.000000,141425.000000,46880.000000,2017.000000
50%,10624.000000,150.000000,200.000000,853.000000,184400.000000,58080.000000,2018.000000
75%,10885.500000,180.000000,450.000000,927.000000,351450.000000,191205.000000,2019.000000
max,11147.000000,250.000000,500.000000,1000.000000,499500.000000,269190.000000,2019.000000

In [6]:
#check if there are null values/empty rows
df.isnull().sum()

SALES_ID      0
SALES_REP     0
EMAILS        0
BRANDS        0
PLANT_COST    0
UNIT_PRICE    0
QUANTITY      0
COST          0
PROFIT        0
COUNTRIES     0
REGION        0
MONTHS        0
YEARS         0
dtype: int64

In [7]:
#checking for duplicates
df[df.duplicated()]

Empty DataFrame
Columns: [SALES_ID, SALES_REP, EMAILS, BRANDS, PLANT_COST, UNIT_PRICE, QUANTITY, COST, PROFIT, COUNTRIES, REGION , MONTHS, YEARS]
Index: []

The above shows that the data does not have empty rows,does not have duplicate vslues.  it also implies that the data is relatively clean

In [8]:
# 1. Within the space of the last three years, what was the profit worth of the breweries,
#inclusive of the anglophone and the francophone territories?

In [9]:
#check the number of unique years in the dataframe
df["YEARS"].unique()

array([2019, 2018, 2017], dtype=int64)

In [55]:
df.groupby("YEARS")["PROFIT"].sum()

YEARS
2017    38503320
2018    37063850
2019    30020250
Name: PROFIT, dtype: int64

In [53]:
#the profit for 3year is the total profit of the brewery
df["PROFIT"].sum()

105587420

In [11]:
#2. Compare the total profit between these two territories in order for the territory manager, 
#Mr. Stone made a strategic decision that will aid profit maximization in 2020

In [12]:
df["COUNTRIES"].unique()

array(['Ghana', 'Nigeria', 'Togo', 'Benin', 'Senegal'], dtype=object)

In [63]:
#creating Anglo_territory column 
df["ANGLO_TERRITORY"]= df["COUNTRIES"].all() == "Nigeria" or df["COUNTRIES"].all() == 'Ghana'

In [64]:
#creating the francophone Territory column
df["FRANCO_TERRITORY"]= df["COUNTRIES"].all() != "Nigeria" or df["COUNTRIES"].all() != 'Ghana'
df.head()

,SALES_ID,SALES_REP,EMAILS,BRANDS,PLANT_COST,UNIT_PRICE,QUANTITY,COST,PROFIT,COUNTRIES,REGION,MONTHS,YEARS,ANGLO_TERRITORY,FRANCO_TERRITORY
0,10101,Jardine,jard@gmail.com,trophy,150,200,725,145000,36250,Ghana,Southeast,January,2019,True,True
1,10102,Gill,gillhell@uk.com,budweiser,250,500,815,407500,203750,Nigeria,west,February,2018,True,True
2,10103,Sorvino,sorvi2000@gmail.com,castle lite,180,450,937,421650,252990,Togo,southsouth,March,2018,True,True
3,10104,Jones,jone.ai@yahoo.com,eagle lager,170,250,765,191250,61200,Benin,northwest,April,2018,True,True
4,10105,Andrews,andy@gmail.com,hero,150,200,836,167200,41800,Senegal,northeast,May,2017,True,True

In [34]:
#Compare the total profit between these two territories
df.groupby(["PROFIT"])["ANGLO_TERRITORY"].sum()

PROFIT
35000     1
35050     1
35100     1
35200     2
35250     1
         ..
266760    1
267030    2
267840    1
268650    1
269190    2
Name: ANGLO_TERRITORY, Length: 762, dtype: int64

In [47]:
#3. Country that generated the highest profit in 2019     
df.groupby(["COUNTRIES", "YEARS"])["PROFIT"].max()                         #**how do include the year 2019 ALONE

COUNTRIES  YEARS
Benin      2017     268650
           2018     265680
           2019     255690
Ghana      2017     263790
           2018     253530
           2019     269190
Nigeria    2017     267030
           2018     266760
           2019     250290
Senegal    2017     260010
           2018     267840
           2019     269190
Togo       2017     249500
           2018     266490
           2019     261360
Name: PROFIT, dtype: int64

In [48]:
#4. Help him find the year with the highest profit.
df.groupby(["YEARS"])["PROFIT"].max()

YEARS
2017    268650
2018    267840
2019    269190
Name: PROFIT, dtype: int64

In [39]:
#5. Which month in the three years was the least profit generated?
df.groupby(["MONTHS"])["PROFIT"].min()

MONTHS
April        35100
August       35200
December     35000
February     35050
January      36250
July         36550
June         35200
March        35750
May          35800
November     35450
October      35450
September    35500
Name: PROFIT, dtype: int64

In [65]:
#6 What was the minimum profit in the month of December 2018?
df.groupby(["MONTHS","YEARS"])["PROFIT"].min()                             #**how do include  December 2018  ALONE

MONTHS     YEARS
April      2017     36200
           2018     35100
           2019     36550
August     2017     36400
           2018     37500
           2019     35200
December   2017     35000
           2018     38150
           2019     35300
February   2017     35050
           2018     35350
           2019     35300
January    2017     40650
           2018     36950
           2019     36250
July       2017     36900
           2018     36550
           2019     39350
June       2017     35200
           2018     35250
           2019     35300
March      2017     40850
           2018     35750
           2019     38500
May        2017     36350
           2018     35800
           2019     41400
November   2017     38850
           2018     38750
           2019     35450
October    2017     35450
           2018     37850
           2019     38650
September  2017     41750
           2018     37100
           2019     35500
Name: PROFIT, dtype: int64

In [79]:
#7. Compare the profit in percentage for each of the month in 2019
df["PERCENT_PROFIT"] = (df["PROFIT"] / df["COST"])*100


df["PERCENT_PROFIT"]

0       25.0
1       50.0
2       60.0
3       32.0
4       25.0
        ...
1042    40.0
1043    25.0
1044    50.0
1045    60.0
1046    32.0
Name: PERCENT_PROFIT, Length: 1047, dtype: float64

In [88]:
df.groupby("YEARS")["PERCENT_PROFIT"].sum()

YEARS
2017    15119.000000
2018    14360.666667
2019    12208.666667
Name: PERCENT_PROFIT, dtype: float64

In [69]:
#8. Which particular brand generated the highest profit in Senegal?
df.groupby(["COUNTRIES","BRANDS"])["PROFIT"].max()

COUNTRIES  BRANDS
Benin      beta malt       67480
           budweiser      249750
           castle lite    268650
           eagle lager     79680
           grand malt      57360
           hero            49950
           trophy          50000
Ghana      beta malt       69650
           budweiser      248750
           castle lite    269190
           eagle lager     79600
           grand malt      58920
           hero            49950
           trophy          49600
Nigeria    beta malt       69720
           budweiser      249500
           castle lite    267030
           eagle lager     79760
           grand malt      59760
           hero            50000
           trophy          49450
Senegal    beta malt       69720
           budweiser      249500
           castle lite    269190
           eagle lager     79280
           grand malt      59520
           hero            49950
           trophy          49750
Togo       beta malt       69790
           budweiser      249500
           castle lite    266490
           eagle lager     79440
           grand malt      59460
           hero            50000
           trophy          49650
Name: PROFIT, dtype: int64

Session B
BRAND ANALYSIS
1. Within the last two years, the brand manager wants to know the top three brands
consumed in the francophone countries
2. Find out the top two choice of consumer brands in Ghana
3. Find out the details of beers consumed in the past three years in the most oil reached
country in West Africa.
4. Favorites malt brand in Anglophone region between 2018 and 2019
5. Which brands sold the highest in 2019 in Nigeria?
6. Favorites brand in South_South region in Nigeria
7. Bear consumption in Nigeria
8. Level of consumption of Budweiser in the regions in Nigeria
9. Level of consumption of Budweiser in the regions in Nigeria in 2019 (Decision on Promo

In [94]:
#Within the last two years, the brand manager wants to know the top three brands consumed in the francophone countries
df.groupby(["YEARS","BRANDS"])["FRANCO_TERRITORY"].count()

YEARS  BRANDS
2017   beta malt      57
       budweiser      56
       castle lite    55
       eagle lager    57
       grand malt     54
       hero           48
       trophy         47
2018   beta malt      52
       budweiser      54
       castle lite    55
       eagle lager    47
       grand malt     42
       hero           53
       trophy         57
2019   beta malt      40
       budweiser      40
       castle lite    40
       eagle lager    46
       grand malt     53
       hero           48
       trophy         46
Name: FRANCO_TERRITORY, dtype: int64

In [99]:
#2. Find out the top two choice of consumer brands in Ghana

In [ ]:
#3. Find out the details of beers consumed in the past three years in the most oil reached country in West Africa